.cart {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5 px;
}

td .delete {
    color: #ff523b;
    font-size: 12px;
    cursor: pointer;
}

td .delete:hover {
    color: #000;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.small-containers {
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
}